<div class="container p-3 my-3 border">

    <mat-card class="example-card">

        <tr *ngFor="let user of users">

            <mat-card-content> 

            <div class="content">
                <h5>{{user.firstName}} {{user.lastName}}</h5>
            </div>

            </mat-card-content>

            <mat-card-actions>

                <div class="actions">
        
                    <button mat-mini-fab aria-label="Example icon button with a delete icon" (click)="openDialogDelete(user)"> <!--*ngIf="currentUser.usertype == 'Admin'"--> <mat-icon matTooltip="Delete post"> delete </mat-icon> <!--*ngIf="currentUser.usertype == 'Admin'"--> </button>
            
                    <button mat-mini-fab aria-label="Example icon button with a edit icon" (click)="openDialogUpdate(user)"> <!--*ngIf="currentUser.usertype == 'Admin'"--> <mat-icon matTooltip="Edit post"> edit </mat-icon> <!--*ngIf="currentUser.usertype == 'Admin'"--> </button>
            
                </div>

            </mat-card-actions>

            <mat-divider></mat-divider>
            <br>
        </tr>
        
    </mat-card>
  
</div>
  
  
  
  
  
    
  
  