<div class="container p-3 my-3 border">

    <mat-card class="example-card">

        <mat-tab-group>

        <mat-tab label="Event"> 
            <mat-card-actions>
    
                <div class="actions">
        
                    <button mat-mini-fab aria-label="Example icon button with an add icon" (click)="openDialogAddEvent(event)"> <mat-icon matTooltip="Add event"> add </mat-icon> </button>
            
                </div>

            </mat-card-actions>

            <mat-divider></mat-divider>
            <tr *ngFor="let event of events"> 

                <mat-card-content> 
    
                <div class="content">
                    Title:
                    <h5>{{event.title}}</h5>
                    <br>
                    Description:
                    <h5>{{event.description}}</h5>
                    <br>
                    When:
                    <h5>{{event.when}}</h5>
                    <br>
                    Where:
                    <h5>{{event.where}}</h5>
                </div>
    
                </mat-card-content>
    
                <mat-card-actions>
    
                    <div class="actions">
            
                        <button mat-mini-fab aria-label="Example icon button with a delete icon" (click)="openDialogDeleteEvent(event)"> <mat-icon matTooltip="Delete event"> delete </mat-icon> </button>
                
                        <button mat-mini-fab aria-label="Example icon button with a edit icon" (click)="openDialogUpdateEvent(event)"> <mat-icon matTooltip="Edit event"> edit </mat-icon> </button>
                
                    </div>
    
                </mat-card-actions>
    
                <mat-divider></mat-divider>
                <br>
            </tr>
            
        </mat-tab>


        <mat-tab label="Request">

            <tr *ngFor="let request of requests">

                <mat-card-content> 
    
                <div class="content">
                    Title:
                    <h5>{{request.title}}</h5>
                    <br>
                    <h5>{{request.description}}</h5>
                </div>
    
                </mat-card-content>
    
                <mat-card-actions>
    
                    <div class="actions">
            
                        <button mat-mini-fab aria-label="Example icon button with a delete icon" (click)="openDialogDeleteRequest(request)"> <mat-icon matTooltip="Delete request"> delete </mat-icon> </button>
                
                        <button mat-mini-fab aria-label="Example icon button with a edit icon" (click)="openDialogUpdateRequest(request)"> <mat-icon matTooltip="Edit request"> edit </mat-icon> </button>
                
                    </div>
    
                </mat-card-actions>
    
                <mat-divider></mat-divider>
                <br>
            </tr>
        </mat-tab>


        </mat-tab-group>
        
    </mat-card>
  
</div>
  
  
  
  
  
    
  
  