<div class="container">
    <div>
      <div class="card">
        <div class="card-body">
          <form class="text-center" 
          (ngSubmit)="onSubmit(request)">

            <input matInput  
                type="text"
                [(ngModel)]="request.title" 
                name="title" 
                placeholder="Title" 
                class="form-control" 
                required 
            />

            <input matInput 
                type="text" 
                [(ngModel)]="request.description"
                name="description" 
                placeholder="Description"  
                class="form-control" 
                required 
            />

            <div class="form-group">
                <button 
                    mdbBtn 
                    type="submit"  
                    rounded="true" 
                    id="submitButton" 
                    
                    class="btn btn-info"> Create Event
                </button> 
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>