<div class="container">
    <div>
      <div class="card">
        <div class="card-body">
          <form #userData="ngForm" 
          class="text-center" 
          (ngSubmit)="onSubmitRegistration(userData.value)">
            <div class="imgcontainer">
              <img src="assets/logo.png" class="logo">
            </div>

            <!-- [(ngModel)]="userData.firstName" #firstName="ngModel"    -->
            <input matInput 
                required
                type="text"
                
                name="firstName" 
                
                placeholder="First Name" 
                class="form-control" 
                required 
            />

            <!-- [(ngModel)]="userData.lastName" #lastName="ngModel"  -->
            <input required matInput 
                type="text" 

                name="lastName" 
                
                placeholder="Last Name"  
                class="form-control" 
                required 
            /> 

            <!--[(ngModel)]="userData.email" #email="ngModel" -->
            <input required matInput 
                type="text" 

                name="email"
                
                placeholder="Email" 
                class="form-control" 
                required  
            /> 
                

            <!--  [(ngModel)]="userData.password" #password="ngModel" -->
            <input matInput 
                type="password" 

                name="password" 
                
                placeholder="Password" 
                class="form-control" 
                required
            /> 
    

            <!-- [(ngModel)]="userData.confirmpassword" #confirmpassword="ngModel"  -->
            <input matInput 
                type="password" 

                name="confirmpassword" 
               
                placeholder="Confirm Password" 
                class="form-control" 
                required 
            /> 
  
            <div class="form-group">
                
                <button 
                    mdbBtn 
                    type="submit"  
                    [disabled]="!userData.valid"
                    rounded="true" 
                    id="submitButton" 
                    
                    class="btn btn-info"> Sign Up
                </button> 
            </div>
            <br>
            <div>
              Do you have already an account?<a href="#" [routerLink]="['/Derby']">Sign In</a>
            </div>
            <br>
          </form>
        </div>
      </div>
    </div>
  </div>