<div class="container">
    <div>
      <div class="card">
        <div class="card-body">
          <form class="text-center" 
          (ngSubmit)="onSubmitRegistration(user)">
            <div class="imgcontainer">
              <img src="assets/logo.png" class="logo">
            </div>

            <input matInput  
                required
                type="text"
                [(ngModel)]="user.firstName" 
                name="firstName" 
                placeholder="First Name" 
                class="form-control" 
                required 
            />

            <input required matInput 
                type="text" 
                [(ngModel)]="user.lastName"
                name="lastName" 
                placeholder="Last Name"  
                class="form-control" 
                required 
            /> 

            <input required matInput 
                type="text" 
                [(ngModel)]="user.emailAddress"
                name="email"
                placeholder="Email" 
                class="form-control" 
                required  
            /> 
                
            <input matInput 
                type="password" 
                [(ngModel)]="user.password" 
                name="password" 
                placeholder="Password" 
                class="form-control" 
                required
            />
  
            <div class="form-group">
                <button 
                    mdbBtn 
                    type="submit"  
                    rounded="true" 
                    id="submitButton" 
                    
                    class="btn btn-info"> Sign Up
                </button> 
            </div>
            <br>
            <div>
              Do you have already an account?<a href="#" [routerLink]="['/Derby']">Sign In</a>
            </div>
            <br>
          </form>
        </div>
      </div>
    </div>
  </div>