.example-card {
    background: rgb(228, 231, 236);;
}

.btn{
    background-color: #46aacc;
    color: white;
    padding: 14px 20px;
    margin: 6px 0;
    border: none;
    cursor: pointer; 
} 

/* screens less than 1130 */
@media screen and (max-width: 1130px) {
    /* stack button on top of each other */
    .mat-dialog-actions .mat-raised-button {
        min-width: 90%;
        margin: 5%;
    }
}